@use 'sass:map';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    
}
body {
    background-color: #141414 !important;
    color: white;
    box-sizing: border-box;
    }

.nav-link {
    color: white;
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover,
    &:active {
        color: white;
        opacity: 1;
        background-color: #141414;
    }
}

.avatar-icon {
    background-image: url(../imgs/avatar.png);
    background-size: cover;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi {
    font-size: 1.3em;
    cursor: pointer;
}

#genres{
    height: 2.5em;
    font-size: 0.7em;
    option{
        &:focus{
            background-color: rgb(180, 55, 55);
        }
    }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #f3969a;
}

.carousel-item {
    transition: transform 0.5s ease-in !important;
    img{
        opacity: 0.6;
        &:hover{
            transform: scale(1.05, 1.05);
            opacity: 1;
        }
    }
}
